@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*{
    font-family: "DM Sans";
    background-color: "#9b5fe1";
}

.text-sm {
    font-size: 0.7rem;
}

.text-primary {
    color: "#9b5fe1";
}

.bg-secondary {
    background: "#6D5BD0";
}